---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Why from '../components/Why.astro';
import Proces from '../components/Proces.astro';
import Proyects from '../components/Proyects.astro';
import Faqs from '../components/Faqs.astro';
import Contact from '../components/Contact.astro';
import Footer from 	'../components/Footer.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar/>
		<Hero/>
		<Services/>
		<About/>
		<Why/>
		<Proces/>
		<Proyects/>
		<Faqs/>
		<Contact/>
		<Footer/>
	</main>
</Layout>

<style>
</style>
