---
import ServiceCard from "./ServiceCard.astro"
---

<section class="bg-gray-50 py-16" id="SERVICIOS">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16" data-aos="fade-up">
      <h2 class="text-4xl font-extrabold text-gray-900">Nuestros Servicios</h2>
      <p class="mt-6 text-lg text-gray-600 max-w-2xl mx-auto">
        Ofrecemos una amplia gama de servicios para cumplir con todas las necesidades del sector inmobiliario, brindando soluciones integrales para cada proyecto.
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <ServiceCard 
        imgSrc="/img/Servicios/Servicios1.jpg" 
        title="Diseño Arquitectónico" 
        description="Creación de proyectos arquitectónicos personalizados, optimizados para funcionalidad y estética en proyectos residenciales y comerciales."
        delay={100}
      />

      <ServiceCard 
        imgSrc="/img/Servicios/Servicios2.jpg" 
        title="Construcción de Viviendas" 
        description="Construcción de casas unifamiliares, complejos residenciales y edificios multifamiliares de alta calidad."
        delay={200}
      />

      <ServiceCard 
        imgSrc="/img/Servicios/Servicios3.jpg" 
        title="Desarrollo Inmobiliario" 
        description="Gestión integral de proyectos inmobiliarios, desde la adquisición de terrenos hasta la venta de propiedades terminadas."
        delay={300}
      />

      <ServiceCard 
        imgSrc="/img/Servicios/Servicios4.jpg" 
        title="Remodelación y Renovación" 
        description="Remodelación y actualización de propiedades existentes para aumentar su valor y mejorar su funcionalidad."
        delay={400}
      />

      <ServiceCard 
        imgSrc="/img/Servicios/Servicios5.jpg" 
        title="Gestión de Proyectos" 
        description="Coordinación y supervisión completa de proyectos de construcción, asegurando que se entreguen a tiempo y dentro del presupuesto."
        delay={500}
      />

      <ServiceCard 
        imgSrc="/img/Servicios/Servicios6.jpg" 
        title="Consultoría Inmobiliaria" 
        description="Asesoramiento experto en compra, venta y desarrollo de propiedades, adaptado a las necesidades del cliente."
        delay={600}
      />
    </div>
  </div>
</section>
